@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-navbar {
  background: #00040f;
}

.hero-main {
  background: #00040f;
}
.navbar-style {
  color: #fff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
}

.list-unstyled {
  list-style-type: none;
}

.top-text {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
  font-size: 50px;
}
.gen-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 50px;
  background: radial-gradient(
    64.33% 64.33% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-para {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.get-started-main {
  position: relative;
}
.get-started {
  position: absolute;
  top: 20px;
  left: 380px;
}

.right-bordered-span {
  border-right: 1px solid white;
}

.users {
  font-family: Poppins;
  font-weight: 700;
  background: radial-gradient(
    64.33% 64.33% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.users-style {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
  font-size: 30px;
}

.work-h2 {
  color: #fff;

  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
}
.work-para {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 18px;
}

.how-we-work-main {
  padding-left: 80px;
}

.get-started-btn {
  width: 140px;
  height: 54px;
  border-radius: 10px;
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.get-started-txt {
  color: #00040e;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  align-content: center;
}
.get-started-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.get-started-txt:hover {
  color: #00040e;
  text-decoration: transparent;
  cursor: pointer;
}

.rewards-h2 {
  color: #fff;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.rewards-para {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 16px;
  font-size: 400;
}

.secured {
  border-radius: 30px;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );

  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.trc-txt {
  color: #fff;

  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
}

.trc-h2 {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
  font-size: 16px;
}

.trc-p {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}

.trc-h3 {
  color: #fff;
  font-weight: 500;
  font-family: Poppins;
  font-size: 14px;
}

.card-trans {
  width: 335px;
  height: 280px;

  border-radius: 9.121px;
  background: linear-gradient(113deg, #fff -242.51%, #14101d 85.56%);

  box-shadow: -0.24322px -0.24322px 0.36483px 0px rgba(0, 0, 0, 0.36) inset;
  backdrop-filter: blur(15.201066017150879px);
}

.circular-div {
  width: 40px;
  height: 40px;
  background-color: #f3f3f3; /* Change the background color as needed */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Change the text color as needed */
  font-weight: bold;
}

.paypal-txt {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
  font-size: 30px;
}

.checkout-txt {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
}

.paypal-bg {
  border-radius: 10px;
  background: linear-gradient(111deg, #fff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px 0px rgba(19, 36, 46, 0.25);
}

.change-btn-main {
  width: 85px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-btn {
  position: relative;
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-image-slice: 1;
  color: transparent;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.change-btn::before {
  content: "Change";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.make-payment-btn {
  width: 150px;
  height: 50px;
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  color: #00030d;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease; /* Add a smooth transition effect on hover */
}

.make-payment-btn:hover {
  background: linear-gradient(
    158deg,
    #33bbcf -43.27%,
    #5ce1e6 -21.24%,
    #7de7eb 12.19%,
    #9dedf0 29.82%,
    #bef3f5 51.94%,
    #def9fa 90.29%
  );
  color: #fff; /* Change this color to your desired hover text color */
}

.paypal-main {
  position: relative;
}

.paypal-position {
  position: absolute;
  right: 47px;
  top: -60px;
}
.great-position {
  position: absolute;
  bottom: 165px;
  right: 5px;
}
.great {
  z-index: 1;
}

.charges-w {
  width: 67%;
}
.paypal-w {
  width: 50%;
}
.great-w {
  width: 50%;
}

.control-title {
  color: #fff;

  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
}
.control-para {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.cardDeal-title {
  color: #fff;

  font-family: Poppins;
  font-size: 48px;

  font-weight: 600;
}
.cardDeal-para {
  color: rgba(255, 255, 255, 0.7);

  font-family: Poppins;
  font-size: 18px;

  font-weight: 400;
}
.cardDeal-btn {
  color: #00040e;

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.deal-btn {
  border-radius: 10px;
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.scan-logo {
  border-radius: 10px;
  background: #00030c;
  width: 38px;
  height: 38px;
}

.scan-title {
  color: #fff;

  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.scan-credits {
  border-radius: 20px;
  background: linear-gradient(
    122deg,
    #fff -264.89%,
    #6d6d6d -77.96%,
    #11101d 80.93%
  );

  backdrop-filter: blur(5px);
}

.scan-para {
  color: rgba(255, 255, 255, 0.7);

  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
}
